<% include view/meta/_head %>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PSHJDH"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div style="display: none">
	<% include view/svg/_svg-icon %>
</div>

<!-- Hero -->
<% include view/layout/_hero %>

<!-- Header -->
<% include view/layout/_header %>

<!-- SNS -->
<% include view/layout/_sns %>

<!-- Main  -->
<main class="l-main">
	<!-- Quote -->
	<div class="quote js-quote">
		<p class="quote-text js-quote-text">
			<svg class="quote-text-svg" role="img" viewBox="0 0 1124 142" width="562" height="71" x="0" y="0" style="enable-background:new 0 0 1124 142;">
				<title>Catchcopy</title>
				<use xlink:href="#catch-copy"></use>
			</svg>
		</p>
		<div class="quote-line"></div>
	</div>
	
	<!-- Messages -->
	<section class="l-section l-section-message" id="js-section-message">
		<div class="l-section-inner">
			<div class="message">
				<h2 class="title title-message">
					<svg class="title-message-svg" role="img" viewBox="0 0 510 164" width="256" height="83" x="0" y="0" style="enable-background:new 0 0 510 164;">
						<title>Message なぜ、日本各地を旅するのか</title>
						<use xlink:href="#title-message"></use>
					</svg>
				</h2>
				<div class="l-container">
					<img class="message-model" src="./assets/images/message-model.jpg" alt="">
					<p class="message-text">株式会社LIGは、展開する7つのすべての事業において、Life is Goodの実現を目指し、日々活動している会社です。</p>
					<p class="message-text">Life is Goodとは何か？</p>
					<p class="message-text">「自分のLifeがGoodであること。その結果、誰かのLifeがGoodになること。そして、最終的には全世界70億人のLifeがGoodになっていること。」</p>
					<p class="message-text">壮大ではありますが、言い換えると「自分自身が納得していて、誰かを幸せにする仕事に挑戦し続ける」ことだと考えます。</p>
					<p class="message-text">LIGには、この飽くなき挑戦を続けるために、Webデザイナー、エンジニア、セールス、編集者、ホールスタッフ、シェフ、画家などさまざまな職種のメンバーが集まっています。</p>
					<p class="message-text">全員に共通するのは、<br>
					・つくるもの、自分の仕事にこだわりを持っていること<br>
					・特定の分野のプロフェッショナルであること<br>
					・結果を出すための努力は惜しまないこと<br>
					このどれかに当てはまるということです。</p>
					<p class="message-text">私たちは常に、そういう人を探し続けています。<br>
					しかし、僕らが待っているだけでは出会えないかもしれない。<br>
					だったら、自分たちのほうから会いに行こう。<br>
					そう決め、今回の企画に至りました。</p>
					<p class="message-text">Life is Goodを実現することはとても難しいことですが、少しでもこのメッセージにピンときた方はぜひ、お気軽にご参加いただければと思います。<br>
					「これだけは負けない」というものがある方は、きっとLIGの環境に合うと思います。</p>
					<p class="message-text">また、今は得意分野がなくても、プロ意識を持って努力をできる方であれば、歓迎いたします。「自分がどうなりたいか」だけでも構いません。</p>
					<p class="message-text">社長自ら、皆さんに会いに行きますので、まずは、どんな会社なのかを見に来てください。<br>
					ざっくばらんにお話しましょう。</p>
					<a class="button" href="https://goo.gl/forms/xJ0L54s20FbxsPQ42" target="_blank">
						<span class="button-text">お申し込み</span>
					</a>
				</div>
			</div>
		</div>	
	</section>

	<!-- Overview -->
	<section class="l-section l-section-overview" id="js-section-overview">
		<div class="l-section-inner">
			<div class="overview">
				<h2 class="title title-overview">
					<svg class="title-overview-svg" role="img" viewBox="0 0 607 166" width="305" height="84" x="0" y="0" style="enable-background:new 0 0 607 166;">
						<title>Overview イベント概要</title>
						<use xlink:href="#overview-title"></use>
					</svg>
				</h2>
				<div class="l-container">
					<div class="overview-info">

						<!-- Program -->
						<div class="info info-program">
							<div class="info-title info-program-title">
								<p class="info-title-text">
									<svg role="img" viewBox="0 0 256 35" width="128" height="18" x="0" y="0" style="enable-background:new 0 0 256 35;">
										<title>Program Contents</title>
										<use xlink:href="#program-contents"></use>
									</svg>
								</p>
							</div>
							<div class="info-content">
								<ul class="info-list">
									<li class="info-item">
										会社説明<br>
										LIGってどんな会社？何をやっているの？<br class="u-show-pc">
										どんな社員が働いているの？どんな人が合っているの？<br class="u-show-pc">
										社内の雰囲気は？<br class="u-show-pc">
										福利厚生は？<br class="u-show-pc">
										などなど、LIGがどんな会社なのか伝わるようお話いたします
									</li>
									<li class="info-item">
										社長のお話<br>
										LIGの代表、吉原ゴウの考えるLIGの未来と、<br class="u-show-pc">
										一緒に働きたい人とは？<br class="u-show-pc">
									</li>
									<li class="info-item">
										質疑応答<br>
										面接では聞きづらいことにも包み隠さずお答えします
									</li>
									<li class="info-item">
										懇親会<br>
										開始からずっとお酒を飲みながら和やかに行いたいと思いますが<br class="u-show-pc">
										よりざっくばらんに色々なお話を皆さんでしましょう！
									</li>	
								</ul>
							</div>
						</div>
						
						<!-- Entry -->
						<div class="info info-entry">
							<div class="info-title info-entry-title">
								<p class="info-title-text">
									<svg role="img" viewBox="0 0 110 35" width="55" height="18" x="0" y="0" style="enable-background:new 0 0 110 35;">
										<title>Entry Fee</title>
										<use xlink:href="#entry-fee"></use>
									</svg>
								</p>
							</div>
							<div class="info-content">
								<p class="info-desc">無料</p>
							</div>
						</div>
						
						<!-- Number of People -->
						<div class="info info-people">
							<div class="info-title info-title-people">
								<p class="info-title-text">
									<svg role="img" viewBox="0 0 149 35" width="75" height="18" x="0" y="0" style="enable-background:new 0 0 149 35;">
										<title>Program Contents</title>
										<use xlink:href="#people"></use>
									</svg>
								</p>
							</div>
							<div class="info-content">
								<p class="info-desc info-desc-people">30人 / 1会場（※お申し込みが多数になった場合は抽選となります）
								</p>
							</div>
						</div>

						<!-- Participation -->
						<div class="info info-participation">
							<div class="info-title info-title-participation">
								<p class="info-title-text">
									<svg role="img" viewBox="0 0 148 34" width="74" height="18" x="0" y="0" style="enable-background:new 0 0 148 34;">
										<title>Participation Condition</title>
										<use xlink:href="#condition"></use>
									</svg>
								</p>
							</div>
							<div class="info-content">
								<p class="info-desc">上記のメッセージを読んでいただいた方（新卒・中途問わず）</p>
							</div>
						</div>
						
						<!-- Venue -->
						<div class="info info-venue">
							<div class="info-title info-title-venue">
								<p class="info-title-text">
									<svg role="img" viewBox="0 0 108 35" width="54" height="18" x="0" y="0" style="enable-background:new 0 0 108 35;">
										<title>Venue</title>
										<use xlink:href="#venue"></use>
									</svg>
								</p>
							</div>
							<div class="info-content">

								<!-- Miyagi -->
								<div class="info-map">
									<div class="info-map-icon info-map-icon-miyagi">
										<a href="http://the6.jp/access/" target="_blank">
											<img class="info-map-miyagi" src="./assets/images/miyagi.png" alt="Miyagi">
										</a>
									</div>
									<div class="info-map-detail">
										<p class="info-map-name">宮城県</p>
										<p class="info-map-datetime">
											<svg role="img" viewBox="0 0 506 32" width="257" height="17" x="0" y="0" style="enable-background:new 0 0 506 32;">
												<title>Miyagi Date</title>
												<use xlink:href="#date-miyagi"></use>
											</svg>
										</p>
										<p class="info-map-guest">
											<span class="info-map-guest-employee">ゲスト社員</span>
											<span class="info-map-guest-name">ミライ（デザイナー）</span>
										</p>
										<p class="info-map-desc">
											<span class="info-map-desc-title">The 6</span> <br>
											<a class="info-map-google" href="https://goo.gl/maps/rPgkEQTvt4R2" target="_blank">
												宮城県仙台市青葉区春日町 9-15 THE 6 3F
											</a>
										</p>
									</div>
								</div>

								<!-- Hokkaido -->
								<div class="info-map">
									<div class="info-map-icon info-map-icon-hokkaido">
										<a href="http://shareto.work/" target="_blank">
											<img class="info-map-hokkaido" src="./assets/images/hokkaido.png" alt="Hokkaido">
										</a>
									</div>
									<div class="info-map-detail">
										<p class="info-map-name">北海道</p>
										<p class="info-map-datetime">
											<svg role="img" viewBox="0 0 510 32" width="256" height="17" x="0" y="0" style="enable-background:new 0 0 510 32;">
												<title>Hokkaido Date</title>
												<use xlink:href="#date-hokkaido"></use>
											</svg>
										</p>
										<p class="info-map-guest info-map-guest-hokkaido">
											<span class="info-map-guest-employee">ゲスト社員</span>
											<span class="info-map-guest-name">さっさん（ディレクター）</span>
										</p>
										<p class="info-map-desc">
											<span class="info-map-desc-title">クリエイティブラウンジ SHARE </span><br>
											<a class="info-map-google" href="https://goo.gl/maps/N9TgGWjXeT92" target="_blank">
												北海道札幌市中央区北２条東１丁目３−３ <br class="u-show-pc">
												サンマウンテンビル３階
											</a>
										</p>
									</div>
								</div>


								<!-- Kyoto -->
								<div class="info-map">
									<div class="info-map-icon info-map-icon-kyoto">
										<a href="http://oinai-karasuma.jp/access.html" target="_blank">
											<img class="info-map-kyoto" src="./assets/images/kyoto.png" alt="Kyoto">
										</a>
									</div>
									<div class="info-map-detail">
										<p class="info-map-name">京都府</p>
										<p class="info-map-datetime">
											<svg role="img" viewBox="0 0 510 32" width="256" height="17" x="0" y="0" style="enable-background:new 0 0 510 32;">
												<title>Kyoto Date</title>
												<use xlink:href="#date-kyoto"></use>
											</svg>
										</p>
										<p class="info-map-guest">
											<span class="info-map-guest-employee">ゲスト社員</span>
											<span class="info-map-guest-name">ライダー（フロントエンドエンジニア）</span>
										</p>
										<p class="info-map-desc">
											<span class="info-map-desc-title">oinai karasuma</span> <br>
											<a class="info-map-google" href="https://goo.gl/maps/2NP8vdoxm9S2" target="_blank">
												京都府京都市中京区手洗水町647トキワビル4-B
											</a>
										</p>
									</div>
								</div>

								<!-- Osaka -->
								<div class="info-map">
									<div class="info-map-icon info-map-icon-osaka">
										<a href="https://bluetas.com/request1/access/" target="_blank">
											<img class="info-map-osaka" src="./assets/images/osaka.png" alt="Kochi">
										</a>
									</div>
									<div class="info-map-detail">
										<p class="info-map-name">大阪府</p>
										<p class="info-map-datetime info-map-datetime-osaka">
											<svg role="img" viewBox="0 0 502 32" width="252" height="17" x="0" y="0" style="enable-background:new 0 0 502 32;">
												<title>Osaka Date</title>
												<use xlink:href="#date-osaka"></use>
											</svg>
										</p>
										<p class="info-map-desc">
											<span class="info-map-desc-title">ブルータス </span><br>
											<a class="info-map-google" href="https://goo.gl/maps/zLAmqXqkZ192" target="_blank">
												大阪府大阪市北区芝田2-9-17 マエダビル 4F
											</a>
										</p>
									</div>
								</div>

								<!-- Hiroshima -->
								<div class="info-map info-hiroshima">
									<div class="info-map-icon info-map-icon-hiroshima">
										<a href="https://iioffice.liginc.co.jp/hiroshima/access" target="_blank">
											<img class="info-map-hiroshima" src="./assets/images/hiroshima.png" alt="Hiroshima">
										</a>
									</div>
									<div class="info-map-detail">
										<p class="info-map-name">広島県</p>
										<p class="info-map-datetime">
											<svg role="img" viewBox="0 0 483 32" width="242" height="17" x="0" y="0" style="enable-background:new 0 0 483 32;">
												<title>Hiroshima Date</title>
												<use xlink:href="#date-hiroshima"></use>
											</svg>
										</p>
										<p class="info-map-guest">
											<span class="info-map-guest-employee">ゲスト社員</span>
											<span class="info-map-guest-name">まさし（ディレクター）</span>
										</p>
										<p class="info-map-desc">
											<span class="info-map-desc-title">いいオフィス広島 </span><br>
											<a class="info-map-google" href="https://goo.gl/maps/GL5d75gGSJw" target="_blank">
												広島県広島市中区東千田町1-1-61 <br class="u-show-pc">
												hitoto広島 ナレッジスクエア1F
											</a>
										</p>
									</div>
								</div>

								<!-- Fukuoka -->
								<div class="info-map info-fukuoka">
									<div class="info-map-icon info-map-icon-fukuoka">
										<a href="http://shigoto-kichi.com/" target="_blank">
											<img class="info-map-fukuoka" src="./assets/images/fukuoka.png" alt="Fukuoka">
										</a>
									</div>
									<div class="info-map-detail">
										<p class="info-map-name">福岡県</p>
										<p class="info-map-datetime">
											<svg role="img" viewBox="0 0 483 32" width="242" height="17" x="0" y="0" style="enable-background:new 0 0 483 32;">
												<title>Fukuoka Date</title>
												<use xlink:href="#date-fukuoka"></use>
											</svg>
										</p>
										<p class="info-map-guest">
											<span class="info-map-guest-employee">ゲスト社員</span>
											<span class="info-map-guest-name">バージニア（ライター）</span>
										</p>
										<p class="info-map-desc">
											<span class="info-map-desc-title">天神 仕事基地 </span><br>
											<a class="info-map-google" href="https://goo.gl/maps/FqTRAiLgVZF2" target="_blank">
												福岡県福岡市中央区 天神3-15-1 にちりんビル3F
											</a>
										</p>
									</div>
								</div>

								<!-- Okinawa -->
								<div class="info-map">
									<div class="info-map-icon info-map-icon-okinawa">
										<a href="http://okinawadialog.com/about/" target="_blank">
											<img class="info-map-okinawa" src="./assets/images/okinawa.png" alt="okinawa">
										</a>
									</div>
									<div class="info-map-detail">
										<p class="info-map-name">沖縄県</p>
										<p class="info-map-datetime">
											<svg role="img" viewBox="0 0 485 32" width="243" height="17" x="0" y="0" style="enable-background:new 0 0 485 32;">
												<title>Okinawa Date</title>
												<use xlink:href="#date-okinawa"></use>
											</svg>
										</p>
										<p class="info-map-guest">
											<span class="info-map-guest-employee">ゲスト社員</span>
											<span class="info-map-guest-name">ヒガ（フロントエンドエンジニア）</span>
										</p>
										<p class="info-map-desc">
											<span class="info-map-desc-title">沖縄dialog </span><br>
											<a class="info-map-google" href="https://goo.gl/maps/ZHXwEb5yyPs" target="_blank">
												沖縄県那覇市久茂地2-15-8 <br class="u-show-pc">
												フージャース那覇久茂地ビル
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<a class="button" href="https://goo.gl/forms/xJ0L54s20FbxsPQ42" target="_blank">
							<span class="button-text">お申し込み</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Job --> 
	<section class="l-section l-section-job" id="js-section-job">
		<div class="l-section-inner">
			<div class="job">
				<h2 class="title title-job">
					<svg class="title-job-svg" role="img" viewBox="0 0 205 172" width="103" height="87" x="0" y="0" style="enable-background:new 0 0 205 172;">
						<title>Job 募集職種</title>
						<use xlink:href="#job-title"></use>
					</svg>
				</h2>
				<div class="l-container">
					<p class="job-text">
						Webディレクター、Webデザイナー、フロントエンドエンジニア、バックエンドエンジニア（Web制作）<br class="u-show-pc">
						セールス、編集者、ライター、メディアディレクター（コンテンツ制作）<br class="u-show-pc">
						ホールスタッフ、キッチンスタッフ、ゲストハウススタッフ（ゲストハウス事業）<br class="u-show-pc">
						人事、経営企画室スタッフ（本社機能・管理部門）<br class="u-show-pc">
						マネージャー（各事業責任者候補）
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Member -->
	<section class="l-section l-section-member" id="js-section-member">
		<div class="l-section-inner">
			<div class="member">
				<h2 class="title title-member">
					<svg class="title-member-svg" role="img" viewBox="0 0 501 165" width="251" height="83" x="0" y="0" style="enable-background:new 0 0 501 165;">
						<title>Member メンバー</title>
						<use xlink:href="#member-title"></use>
					</svg>
				</h2>
				<div class="l-container">
					<ul class="member-list">
						<% members.forEach((item) => { %>
						<li class="member-item">
							<article class="member-article">
								<img class="member-image" src="<%- item.img.src %>" alt="<%- item.alt %>">
								<div class="member-overlay"></div>
								<div class="member-content">
									<h3 class="member-content-title">
										<%- item.title %>
									</h3>
									<p class="member-content-detail">
										<%- item.text %>
									</p>
								</div>
								<div class="member-content-sp">
									<h3 class="member-content-title">
										<%- item.title %>
									</h3>
								</div>
							</article>
						</li>
						<% }) %>
					</ul>
					<a class="button" href="https://goo.gl/forms/xJ0L54s20FbxsPQ42" target="_blank">
						<span class="button-text">お申し込み</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="footer">
		<div class="l-container">
			<div class="footer-copy">
				<img class="footer-model" src="./assets/images/footer-model.png" alt="Stand By LIG 2018">
				<small class="footer-text">
					<svg role="img" viewBox="0 0 282 24" width="141" height="12" x="0" y="0" style="enable-background:new 0 0 282 24;">
						<title>Copyright</title>
						<use xlink:href="#copyright"></use>
					</svg>
				</small>
			</div>
		</div>
	</footer>
</main>

<% include view/meta/_script %>
